:host {
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Remove a barra de rolagem */
}

#root {
  /* Ajuste conforme o elemento raiz da sua aplicação */
  width: 100%;
  height: 100%;
}
